.searchForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchInput {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchButton {
  padding: 8px 16px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: rgba(255, 166, 0, 0.829);
}
